doctype html
html(lang='zh-cn',ng-app='myapp')
    head
        link(rel='stylesheet',href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='public/css/index.css')
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/angular/angular.min.js')
        script(src='livereload.js')
        script(src='public/js/controllers.js')
    body(ng-controller='feedCtrl')
      div.row.top
        form
          div.col-sm-10
            input.form-control(type='text',ng-model='url')
          div.col-sm-2
            button.btn.btn-default.pull-right(type='button',ng-click='add()') add
      p
      div.row.vcenter
        div.col-sm-2.fill
          div.panel.panel-default
            div.panel-body
              div.list-group
                div.list-group-item(ng-repeat='f in feeds',ng-click='select(f)')
                  p(ng-bind='f.title',title='{{f.url}}')
        div.col-sm-10.fill
          div.panel.panel-primary
            div.panel-heading
              h2(ng-bind='detail.title')
              small
                span(ng-bind='detail.url')
            div.panel-body
              button.btn.btn-primary(type='button',ng-click='select(detail)') refresh
              div.list-group
                div.list-group-item(ng-repeat='item in detailfeed')
                  p(ng-bind='item.title')
      div.row.bottom
        center
          p copyright(c)2015
