doctype html
html(lang='zh-cn',ng-app='myapp')
    head
        link(rel='stylesheet',href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='public/css/index.css')
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/angular/angular.min.js')
        script(src='livereload.js')
        script(src='public/js/controllers.js')
    body.container-fluid(ng-controller='feedCtrl')
      div.row.top
        form
          div.col-sm-10
            input.form-control(type='text',ng-model='url')
          div.col-sm-2
            button.btn.btn-default.pull-right(type='button',ng-click='add()') add
          .col-sm-12
            label api host
            input(ng-model='config.host')
            button(ng-click='save_config()') save
            button(ng-click='load_config()') load
      div.row.vcenter
        div.col-sm-4.fill
          div
            button(ng-click='articles_reload()') refresh
          div.list-group.fill(style='overflow-y:auto')
            div.list-group-item(ng-repeat='item in articles',ng-click='article_select(item)')
              h4(ng-bind='item.title')
          div
            center
              p copyright(c)2015
        div.col-sm-8.fill
            h2(ng-bind='article.title')
            iframe.fill(width='100%',nwdisable='true',ng-src='{{trustAsResourceUrl(article.thirdId)}}',seamless,frameborder=0)
