h1 settings
div.col-sm-12
  form.form
    .form-group
      .col-sm-2
        label.control-label api host
      .col-sm-10
        input.form-control(ng-model='config.host')
    .form-group
      .col-sm-10.col-sm-offset-2
        button.btn.btn-primary(ng-click='save_config()') save
